@charset "UTF-8";
a {
  color: white;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
}

.left-hand {
  position: absolute;
  top: 0;
  left: 0;
  right: 230;
  bottom: 25;
  margin: auto;
  height: 30;
  width: 100;
  background: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 10px;
  animation: hand 1s linear infinite;
  transform: rotateZ(45deg);
}

.right-hand {
  position: absolute;
  top: 50;
  left: 165;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 30;
  width: 100;
  background: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 50px;
  transform: rotateZ(90deg);
}

@keyframes hand {
  0% {
    transform: translateY(-40px) rotateZ(45deg);
  }
  50% {
    transform: translateY(0px) rotateZ(0deg);
  }
  100% {
    transform: translateY(-40px) rotateZ(45deg);
  }
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.about .content-about,
.skills .skills-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar.sticky {
  padding: 15px 0;
  background: rgba(47, 189, 147, 0.65);
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .max-width .logo span {
  color: rgba(47, 189, 147, 0.88);
}
.navbar .max-width .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.navbar .max-width .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .max-width .menu li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar .max-width .menu li a:hover {
  color: rgba(47, 189, 147, 0.88);
}
.navbar .max-width .btn-menu {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.home {
  display: flex;
  background: black;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.home .max-width {
  width: 500px;
  padding: 0;
  margin: auto 0px auto 2px;
}
.home .max-width .home-content .text1 {
  font-size: 27px;
}
.home .max-width .home-content .text2 {
  font-size: 65px;
  font-weight: 600;
}
.home .max-width .home-content .text3 {
  font-size: 54px;
}
.home .max-width .home-content .text3 span {
  font-size: 45px;
  color: rgba(47, 189, 147, 0.88);
  font-weight: 600;
}
.home .imagen {
  padding-right: 6rem;
}
.home .imagen img {
  max-width: 100%;
  height: auto;
}

.navbar .max-width .menu.active {
  left: 0;
}

section {
  padding: 100px 0;
}
section .title {
  position: relative;
  text-align: center;
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
}
section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: black;
  transform: translateX(-50%);
}
section .title::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: rgba(47, 189, 147, 0.88);
  padding: 0 5px;
  background: #fff;
  transform: translateX(-50%);
}

.about .title::after {
  content: "who i am";
}
.about .content-about .column-left img {
  height: 400px;
  width: 350px;
  object-fit: cover;
  border-radius: 6px;
  background: rgba(47, 189, 147, 0.88);
}
.about .content-about .column-rigth {
  width: 55%;
}
.about .content-about .column-rigth .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about .content-about .column-rigth .text span {
  color: crimson;
}
.about .content-about .column-rigth a {
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.about .content-about .column-rigth a:hover {
  color: crimson;
  background: none;
}

.Studys {
  background: black;
  color: #9b9595;
}
.Studys .title::before {
  background: rgba(47, 189, 147, 0.88);
}
.Studys .carousel .card {
  height: 350px;
  color: #222;
  background: white;
  border-radius: 6px;
  padding: 25px 35px;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease;
}
.Studys .carousel .card:hover {
  background: rgba(47, 189, 147, 0.88);
}
.Studys .carousel .card:hover .box {
  transform: scale(1.05);
}
.Studys .carousel .card:hover img {
  border-color: #fff;
}
.Studys .carousel .card .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.Studys .carousel .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}
.Studys .carousel .card img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid white;
  transition: all 0.3s ease;
}

.skills {
  color: #222;
}
.skills .max-width {
  text-align: -webkit-center;
}
.skills .max-width .title::before {
  background: rgba(47, 189, 147, 0.88);
}
.skills .max-width .column-left {
  width: calc(50% - 30px);
}
.skills .max-width .column-left .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.skills .max-width .column-left p {
  text-align: justify;
}
.skills .max-width .column-left a {
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.skills .max-width .column-left a:hover {
  color: crimson;
  background: none;
}
.skills .max-width .column-right {
  width: calc(70% - 30px);
}
.skills .max-width .column-right .bars {
  margin-bottom: 15px;
}
.skills .max-width .column-right .info {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}
.skills .max-width .column-right span {
  font-weight: 500;
  font-size: 18px;
}
.skills .max-width .column-right .line {
  height: 25px;
  width: 100%;
  background: lightgrey;
  position: relative;
}
.skills .max-width .column-right .line::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(47, 189, 147, 0.88);
}
.skills .max-width .Javascript::before {
  width: 100%;
}
.skills .max-width .Typescript::before {
  width: 80%;
}
.skills .max-width .React::before {
  width: 80%;
}
.skills .max-width .NodeJS::before {
  width: 70%;
}
.skills .max-width .API::before {
  width: 100%;
}
.skills .max-width .Mysql::before {
  width: 60%;
}
.skills .max-width .sass::before {
  width: 80%;
}

.Proyects {
  background: black;
  color: white;
}
.Proyects .title::before {
  background: rgba(47, 189, 147, 0.88);
}
.Proyects .carousel .card {
  height: 350px;
  color: white;
  background: #222;
  border-radius: 6px;
  padding: 25px 35px;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease;
}
.Proyects .carousel .card:hover {
  background: rgba(47, 189, 147, 0.88);
}
.Proyects .carousel .card:hover .box {
  transform: scale(1.05);
}
.Proyects .carousel .card:hover img {
  border-color: #fff;
}
.Proyects .carousel .card .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.Proyects .carousel .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}
.Proyects .carousel .card img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid white;
  transition: all 0.3s ease;
}

.contact {
  color: #222;
}
.contact .max-width .container-form .title {
  color: #222;
  font-size: 39px;
}
.contact .max-width .container-form .title::before {
  background: rgba(47, 189, 147, 0.88);
}
.contact .max-width .container-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .max-width .container-form form input {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid rgba(47, 189, 147, 0.88);
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 35%;
  box-sizing: border-box;
  outline: 0;
}
.contact .max-width .container-form form textarea {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid rgba(47, 189, 147, 0.88);
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 35%;
  height: 100px;
  box-sizing: border-box;
  outline: 0;
}
.contact .max-width .container-form form button {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 25%;
  background: #cc6666;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

@media (max-width: 1104px) {
  .about .content-about {
    flex-direction: column;
  }
  .about .content-about .column-left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .content-about .column-left img {
    max-width: 90%;
    height: auto;
  }
  .about .content-about .column-rigth {
    width: 100%;
  }

  .home {
    flex-direction: column;
  }
  .home .imagen {
    padding-right: 0;
  }
  .home .imagen img {
    width: 370px;
  }

  .navbar .max-width {
    padding: 0 50px;
  }
  .navbar .max-width .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .max-width .menu li {
    display: block;
  }
  .navbar .max-width .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .navbar .max-width .btn-menu {
    color: #fff;
    display: block;
    z-index: 999;
  }
  .navbar .max-width .btn-menu i.active:before {
    content: "";
  }

  .home .max-width {
    margin: auto 0 65px 40px;
  }
  .home .max-width .home-content .text1 {
    font-size: 20px;
  }
  .home .max-width .home-content .text2 {
    font-size: 45px;
    font-weight: 600;
  }
  .home .max-width .home-content .text3 {
    font-size: 50px;
  }
  .home .max-width .home-content .text3 span {
    font-size: 55px;
    color: rgba(47, 189, 147, 0.88);
    font-weight: 600;
  }
}
@media (max-width: 690px) {
  .navbar .max-width .logo a {
    font-size: 17px;
  }

  .max-width {
    padding: 0 23px;
  }

  .contact .max-width .container-form form input {
    width: 100%;
  }
  .contact .max-width .container-form form textarea {
    width: 100%;
  }
  .contact .max-width .container-form form button {
    width: 100%;
  }

  .Proyects .carousel .card {
    height: 500px;
  }
}
@media (max-width: 947px) {
  .max-width {
    max-width: 930px;
  }
}
@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}
@media (max-width: 615px) {
  .navbar .max-width .logo a {
    font-size: 17px;
  }

  .home .max-width {
    margin: 0;
    width: 100%;
    text-align: -webkit-center;
  }
  .home .max-width .home-content .text1 {
    font-size: 20px;
  }
  .home .max-width .home-content .text2 {
    font-size: 39px;
    font-weight: 600;
  }
  .home .max-width .home-content .text3 {
    font-size: 38px;
  }
  .home .max-width .home-content .text3 span {
    font-size: 34px;
    color: rgba(47, 189, 147, 0.88);
    font-weight: 600;
  }
}

/*# sourceMappingURL=Estilos.css.map */
